<div id="<%= dom_id room %>">

<%= turbo_frame_tag "room" do %>
  <div class="flex justify-between mb-3">
    <div class="flex flex-row space-x-3">
      <%= link_to room.name, room, "data-turbo-frame": "_top", class: "rounded-md py-1 px-3 hover:bg-transparent bg-indigo-500 hover:text-indigo-500 text-white text-sm border border-indigo-500" %>
    </div>

    <div class="flex space-x-3">
        <%= link_to "Edit #{room.name}", edit_room_path(room),class: "rounded-md py-1 px-3 bg-transparent hover:bg-indigo-500 text-indigo-500 hover:text-white text-sm border border-indigo-500"  %>
    </div>
  </div>
<% end %>

</div>
